<html>
<title>About</title>
<head><h1>About US</h1></head>
<body style="background-color:powderblue;" >

    <h2 style= padding:60px>We are an innovative approach aiming to provide an effective <br>
    solution to the contsant manuevering threat of Child and Mother Healthcare.<br>
    We as a service would like to provide solutions such as easy<br>
     location of facilities and effective integration of theexisting infrastructure.</h2>
    
    <p style= font-size:24px ; > A maternal bond is the relationship between a mother and her child. While,<br>
     typically associated with pregnancy and childbirth,a maternal bond may also develop in cases where the child<br>
      is  unrelated, such as an adoption.Both physical and emotional factors influence the mother-child <br>
      bonding process.In separation anxiety disorder a child becomes fearful and nervous <br>
      when away from a loved one, usually a parent or other caregiver. New mothers<br>
      do not always experience instant love toward their child. Instead, the bond can strengthen<br>
     over time. Bonds can take hours, days, weeks, or months to develop</p>
</body>
